{% extends 'base.html' %}
{% block body %}
<div class="wrapper">
    <span id="homepage">
        <div class="head" id="topscroll" hidden>
            <h1>
                Attendistat
            </h1>
            <h4>
                Check your Online Classes Attendance Online
            </h4>
        </div>
    </span>
    <div class="ribbon" id="topribbon">
        <ul>
            <li><a href="/">Attendance</a>
            </li>
            <li><a href="/getlessons">Audio Lessons</a>
            </li>
            <li><a href="/takeexam">Online Exam</a>
            </li>
        </ul>
    </div>
    <div id="details">
        <p class="info">
            <strong>Instructions</strong>
            <br>
            1> Don't Leave The Tab
            <br>
            2> Don't Minimise
            <br>
            Not Abiding the rules will lead to the cancelation of the test.
        </p>
    </div>
    <div class="inputform" id="form">
        <form action="/starttest" method="POST" id="studentform">
        <h4 style='font-family: "calibri";'>Fill In Your Details Here</h4>
            <input type="text" required autofocus size="40" placeholder="Enter Test Code" name="testcode" class="regno">
            <br>
            <input type="text" required autofocus size="40" placeholder="Enter your Name" name="name" class="regno" onclick="showclass()">
            <br>
            <select name="class" onchange="checkclass(), showsection()" required id="class">
                <option disabled selected>Select Your Class</option>
                <option value="12">Class 12th</option>
                <option value="10">Class 10th</option>
            </select>
            <br>
            <select name="sections" id="sections" required>                
                <option disabled selected>Select Your Class First</option>
            </select>
            <br>
            <br>
            <button class="glow-on-hover" type="button" id="submitbutton">Start Test</button>
        </form>
    </div>
    <div class="footer">
    <p class="info" style="margin: 0px; padding: 0px;">Webserver, Database, Webpage and Javascript Developed by Rohan Verma</p>
    </div>
</div>
<script>
document.getElementById("topscroll").style.display="none";
document.getElementById("details").style.display="none";
document.getElementById("topribbon").style.display="none";
document.getElementById("class").style.display="none";
document.getElementById("sections").style.display="none";
document.getElementById("form").style.display="none";
$('#topscroll').fadeIn(500);
$('#topribbon').fadeIn(600);
$('#details').delay(250).fadeIn(400);
$('#form').delay(500).fadeIn(400);
function checkclass(e) {
    if(document.getElementById("class").value == "12"){
        document.getElementById("sections").innerHTML='<option disabled selected>Select Your Section</option><option value=\"A\">Section A</option><option value=\"B\">Section B</option>';
    }
    if(document.getElementById("class").value == "10"){
        document.getElementById("sections").innerHTML='<option disabled selected>Select Your Section</option><option value="A">Section A</option><option value="B">Section B</option><option value="C">Section C</option><option value="D">Section D</option>';
    }
}
function showclass() {
    $("#class").fadeIn();
}
function showsection() {
    $("#sections").fadeIn();
}
$('#submitbutton').on('click', function() {
  $('#studentform').submit();
});
$('#homepage').on('click', function() {
    window.location.href = "/";
});

</script>
<style>
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
</style>
{% endblock %}