{% extends 'base.html' %}
{% block body %}
<div class="wrapper">
    <span id="homepage">
        <div class="head" id="topscroll" hidden>
            <h1>
                Attendistat
            </h1>
            <h4>
                Check your Online Classes Attendance Online
            </h4>
        </div>
    </span>
    <div class="ribbon" id="topribbon">
        <ul>
            <li><a href="/">Attendance</a>
            </li>
            <li><a href="/getlessons">Audio Lessons</a>
            </li>
            <li><a href="/takeexam">Online Exam</a>
            </li>
        </ul>
    </div>
    <div id="details">
        <p class="info">
            Hi There, {{ js['name'].title() }}
            <br>
            Lets See What's Your Attendance Status !!
        </p>
    </div>
    <div class="inputform" id="form">
        {% if js['student found']==False %}
                <p style="color: red;">Looks Like You Didn't Attend any of the Classes or You Entered the Wrong Details</p>
        {% endif %}
        <p class="studentdetails">
            Name: {{ js['name'].title() }}
            <br>
            Class: {{ js['class'] }}
            <br>
            Section: {{ js['section'] }}
        </p>
        {% if js['student found'] %}
            <table class="studentdetails" id="table">
                <tr>
                    <th>Date</th>
                    <th>Attendance</th>
                </tr>
                {% for x,y in js['attendance'].items() %}
                <tr>
                    <td>{{ x }}</td>
                    <td>{{ y }}</td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    <div class="footer">
    <p class="info" style="margin: 0px; padding: 0px;">Webserver, Database, Webpage and Javascript Developed by Rohan Verma</p>
    </div>
</div>
<script>
document.getElementById("topscroll").style.display="none";
document.getElementById("topribbon").style.display="none";
document.getElementById("details").style.display="none";
document.getElementById("form").style.display="none";
try{
    document.getElementById("table").style.display="none";
}
catch{

}
$('#topscroll').fadeIn(500);
$('#topribbon').fadeIn(600);
$('#details').delay(250).fadeIn(400);
$('#form').delay(500).fadeIn(400);
try{
    $('#table').delay(1000).fadeIn(1000);
}
catch{

}
$('#homepage').on('click', function() {
    window.location.href = "/";
});

</script>
{% endblock %}